*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
header{
    width: 100%;
    height: 15vh;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 100;
}
.nav{
    position: fixed;
    width: 100%;
    background: rgb(0,176,240);
    display: grid;
    grid-template-columns: 1fr 5fr;
    transition: all 0.5s ease;
    height: 70px;
}
.nav.active{
    background: rgb(34, 83, 199);
    padding: 0px 4px;
}
.translate{
    width: 38px;
    height: 38px;
    margin-top: 15px;
    margin-left: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.translate:hover{
    padding: auto;
    background: rgb(255,255,255);
    background: rgba(22,121,190,1);
    color:rgb(255,255,255);
    border-radius: 2px
}
.main-options{
    text-align: right;
    height: 70px;
}
.home{
    width: 38px;
    height: 38px;
    margin-top: 15px;
    margin-right: 30px;
    float: right;
    cursor: pointer;
    transition: all 0.5s ease;
}
.home:hover{
    background: rgb(255,255,255);
    background: rgba(22,121,190,1);
    color:rgb(255,255,255);
    border-radius: 10px
}
.menu{
    display: inline-block;
    height: 70px;
}
.menu li{
    list-style: none;
    height: 100%;
    margin-right: 50px;
    display:inline;
} 
.menu li a{
    color: #fff;
    font-weight: bold;
    transition: all 0.5s ease;
    height: 70px;
    line-height: 70px;

}
.menu li a:hover{
    padding: 10px 10px;
    background: rgb(255,255,255);
    background: rgba(22,121,190,1);
    color:rgb(255,255,255);
    border-radius: 10px
}
.scrol{
    height: 0.1px;
}

/*------------------------------*/

.t-service{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.sec__service{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.container .hexagon {
    position: relative;
    width: 290px;
    height: 300px;
    margin: 50px 20px 70px;
    cursor: pointer;

}
 .container .hexagon::before{
    content: '';
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 60px;
    background: radial-gradient(rgba(0,0,0,0.20),transparent,
    transparent);
    border-radius: 50%;
    transition: 0.7s;
} 
.container .hexagon:hover::before{
    opacity: 0.8;
    transform: scale(0.8);
} 
  .container .hexagon .shape{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%); 


}  
 .container .hexagon:hover .shape{
    transform: translateY(-30px);
    transition: 0.7s;
} 
 .container .hexagon .shape img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
 .container .hexagon .shape .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg,#1e8dc0,
    rgba(3,169,244,0.5));
    color: #fff;
    opacity: 0;
    transition: 0.7s;
} 
.container .hexagon:hover .shape .content{
    opacity: 1;
} 
/*----------------------------*/
.pai{
    background-color: green;
}

.foot{
    background-color: yellow;
    height: 20vh;
}
/*FORMULARIO*/
.sec__contact{ 
    
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    display: flex ;

}
.code{
    margin: auto;
    padding: 2.0em 1.5em;
    display: inline-block;
    border: 1px solid rgb(31, 189, 36);
    box-shadow: 5px 5px 5px #08620b;;
    border-radius: 1em;
}

.form{
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    border: 1px solid rgb(14, 3, 137);
    padding: 2.0em 1.5em;
    margin: auto;
    box-shadow: 5px 5px 5px #0093E9;;
    background: #fff;
    

}
.form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}
.form__tittle{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
    color: rgb(0, 0, 0);
}
.form__input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; /*16 px*/
    padding: 0.8em 1em; /*em para cambiar con el rem*/
    outline: none;
    border: none;
    border: 1px solid rgb(14, 3, 137);
    border-radius: 0.6em;
    
}

.form__input--message{
    resize: none;
    padding:1.8em 1em;
    margin-bottom: 0.5em;
}

.form__cta{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color:#fff;
    border-radius: 0.8em;
    border:none;
    padding: 0.7em 0;
    cursor: pointer;
    transition: 0.7s;
}
.form__cta:hover{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0882c9 0%, #3d8d83 100%);
    color:#fff;
}

/* Scroll personalizado xd*/
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    border-radius: 10px;
    border-right: 2px solid;
}
body::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
} 
/*Responsive formulario*/
@media (max-width:450px){
    .form{
        padding: 1em .5em;
    }
}