*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*--------------------------------------*/
/*Menú nav*/
header{
    width: 100%;
    height: 70px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 100;
}
.nav{
    position: fixed;
    width: 100%;
    background: rgb(0,176,240);
    display: grid;
    grid-template-columns: 1fr 5fr;
    transition: all 0.5s ease;
    height: 70px;
}
.nav.active{
    background: rgb(34, 83, 199);
    padding: 0px 4px;
}
.translate{
    width: 38px;
    height: 38px;
    margin-top: 15px;
    margin-left: 25px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.translate:hover{
    padding: 3px 3px;
    background: rgb(255,255,255);
    background: rgba(22,121,190,1);
    color:rgb(255,255,255);
    border-radius: 12px

}
.main-options{
    text-align: right;
    height: 70px;

}
.menu{
    display: inline-block;
    height: 70px;

}
.menu li{
    list-style: none;
    height: 100%;
    margin-right: 20px;
    display:inline;
} 
.menu li a{
    color: #fff;
    font-weight: bold;
    transition: all 0.5s ease;
    height: 70px;
    line-height: 70px;

}
.menu li a:hover{
    padding: 7px 7px;
    background: rgb(255,255,255);
    background: rgba(22,121,190,1);
    color:rgb(255,255,255);
    border-radius: 10px;
}
.scrol{
    height: 0.1px;
}
/*------------------------------*/
.Banner{ 
    height: 89vh;
    background-image: linear-gradient(to top, rgba(35, 46, 199, 0.477) 0%, rgba(73, 100, 69, 0.471) 100%), url(../Imagenes/Resources/Main/Banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin-bottom: 40px;
}

/*About carrusel me*/
.Sobre_mi{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    height: 670px;
    width: 98%;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    box-shadow: 2px 2px 3px #022451;;
}
.position{
    position: absolute;
    top: 140%;
    left:50%;
    transform: translate(-50%, -50%);
}
.slider{
    background-image: url(../Imagenes/Resources/Main/1.jpg);
    background-size:cover;
    height: 50%;
    width: 50%;
    border-radius: 30px;
    animation: animate 45s infinite;
}

@keyframes animate {
    10%{
        background-image: url(../Imagenes/Resources/Main/10.jpg);
        background-size: cover;
    }
    20%{
        background-image: url(../Imagenes/Resources/Main/9.jpg);
        background-size: cover;
    }
    30%{
        background-image: url(../Imagenes/Resources/Main/8.jpg);
        background-size: cover;
    }
    40%{
        background-image: url(../Imagenes/Resources/Main/7.jpg);
        background-size: cover;
    }
    50%{
        background-image: url(../Imagenes/Resources/Main/6.jpg);
        background-size: cover;
    }
    60%{
        background-image: url(../Imagenes/Resources/Main/5.jpg);
        background-size: cover;
    }
    
    70%{
        background-image: url(../Imagenes/Resources/Main/4.jpg);
        background-size: cover;
    }
    
    80%{
        background-image: url(../Imagenes/Resources/Main/3.jpg);
        background-size: cover;
    }
    
    90%{
        background-image: url(../Imagenes/Resources/Main/2.jpg);
        background-size: cover;
    }
    
    100%{
        background-image: url(../Imagenes/Resources/Main/1.jpg);
        background-size: cover;
    } 
}
/*texto*/
.parrafo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    width: 50%;
    padding: 5px;
    position:absolute;
    top:168%;
    left: 25%;
    
}
.psize{
    font-size: small;
}
.hsize{ 
    font-size: medium;
}

/*----------------------------*/
.arreglar{
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    min-height: 100vh;
    width: 98% ; 
    display: flex ;
    height: 200%;
    border-radius: 30px;
    box-shadow: 2px 2px 7px #022451;;

}
.ing-container{
    background: #ffffff;
    margin: auto;
    padding: 10px;
    width: 90%;
    max-width: 400px;
    border-radius: 30px;
    box-shadow: 2px 2px 7px #022451;;
}
.ing-container2{

    padding-top: 30px;
     margin: auto;
    width: 95%;
    max-width: 400px;
    }


/*Galeria hexagonal*/

.t-service{


    
    text-align: center;
    margin: 0 auto;
    top: 30px;
    width: 50%;
    height: 30px;
    display: flex;
    left: 25%;
    justify-content: center;
    position:absolute;
    font-size: 2em;
    font-weight: bold;
}

.b-contact{
    color: #ffffff;
    margin: auto;
    padding-top: 20%;
    text-align: center;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;

}

.h-contact{
    text-align: center;
    margin: 0 auto;
    width: 50%;
    display: flex;
    padding: 15px;
    padding-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.S-contact{
    margin: 0 auto;
    margin-top: 40px;
    width: 50%;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
}

.sec__service{
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding-top: 8%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.container .hexagon {
    position: relative;
    width: 290px;
    height: 300px;
    margin: 50px 20px 70px;
    cursor: pointer;

}
 .container .hexagon::before{
    content: '';
    position: absolute;
    bottom: -70px;
    width: 100%;
    height: 60px;
    background: radial-gradient(rgba(0,0,0,0.20),transparent,
    transparent);
    border-radius: 50%;
    transition: 0.7s;
} 
.container .hexagon:hover::before{
    opacity: 0.8;
    transform: scale(0.8);
} 
  .container .hexagon .shape{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%); 


}  
 .container .hexagon:hover .shape{
    transform: translateY(-30px);
    transition: 0.7s;
} 
 .container .hexagon .shape img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
 .container .hexagon .shape .content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: linear-gradient(45deg,#1e8dc0,
    rgba(3,169,244,0.5));
    color: #fff;
    opacity: 0;
    transition: 0.7s;
} 
.container .hexagon:hover .shape .content{
    opacity: 1;
} 
/*----------------------------*/


/*---------------------------*/
/*Scroll up*/
#button-up{
   width: 50px;
   height: 50px;
   background: rgb(0,176,240);
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 20px;
   position: fixed;
   bottom: 115px;
   right: 45px;
   cursor:pointer;
   border: 2px solid transparent;
   transition: all 0.3s ease;
   box-shadow: 2px 2px 3px #022451;;
   transform: scale(0);
   
}
#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0,0,0,0.1);
}
/*---------------------------*/
/*FORMULARIO*/
.sec__contact{ 
    flex-wrap: wrap;
    min-height: 100vh;
    width: 100%;
    display: flex ;
}
.code{
    margin: auto;
    margin-top: 7.6em;
    margin-bottom: 5.4em;
    padding: 2.0em 1.5em;
    display: inline-block;
    border: 1px solid rgb(31, 189, 36);
    box-shadow: 5px 5px 5px #08620b;;
    border-radius: 1em;
}
.form{
    margin: auto;
    width: 90%;
    max-width: 400px;
    border-radius: 1em;
    border: 1px solid rgb(14, 3, 137);
    padding: 2.0em 1.5em;
    box-shadow: 5px 5px 5px #0093E9;;
    background: #fff;
}
.form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}
.form__tittle{
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: .4em;
    color: rgb(0, 0, 0);
}
.form__input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem; /*16 px*/
    padding: 0.8em 1em; /*em para cambiar con el rem*/
    outline: none;
    border: none;
    border: 1px solid rgb(14, 3, 137);
    border-radius: 0.6em;
    
}

.form__input--message{
    resize: none;
    padding:1.8em 1em;
    margin-bottom: 0.5em;
}

.form__cta{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color:#fff;
    border-radius: 0.8em;
    border:none;
    padding: 0.7em 0;
    cursor: pointer;
    transition: 0.7s;
}
.form__cta:hover{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0882c9 0%, #3d8d83 100%);
    color:#fff;
}
/*---------------------------*/
/* Scroll personalizado xd*/
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
    border-radius: 10px;
    border-right: 2px solid;
}
body::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
} 
/*--------------------------------------*/
/* Footer*/
footer {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding-bottom: 0.1px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 60px;
}
.contact-us {
    width: 40%;
    color: #fff
}
.follow {
    text-align: center;
    padding: 5px;
    font-weight: 500;
    font-size: 35px;
    width: 210px;
}
.social-media {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon {
    display: inline-block;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon:hover {
    background: #fff;
    color: #764ba2;
}
.social-media-icon i {
    font-size: 38px;
    line-height: 50px;
}
.line {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 3px;
    background: #fff;
    margin-bottom: 25px;
}
/*--------------------------------------*/

/*Responsive formulario*/
@media (max-width:450px){
    .form{
        padding: 1em .5em;
    }
    .code{

        padding: 1em .5em; 
    }
}
/*Responsive footer*/
@media screen and (max-width: 450px) {
    .footer-content{
    justify-content: left;
     }
     .social-media{
        width: 90%;
        justify-content: space-evenly;
     }
    .social-media-icon{
        margin-left: 15%;
    }
     .social-media i{
        margin-left: 0px;
     }
    }
